Project2/force-app/main/default/flows/Questions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Question</name>
        <label>Assign Question</label>
        <locationX>788</locationX>
        <locationY>272</locationY>
        <assignmentItems>
            <assignToReference>QuestionToBeMade.A__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>A</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuestionToBeMade.B__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>B</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuestionToBeMade.C__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>C</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuestionToBeMade.D__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>D</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuestionToBeMade.CorrectAnswer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnswerChoiceSet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuestionToBeMade.Quiz__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuizToBeMade.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuestionToBeMade.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Quiz_Values</name>
        <label>Assign Quiz Values</label>
        <locationX>348</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>QuizToBeMade.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name_of_quiz</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Quiz</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_Collection</name>
        <label>Assign To Collection</label>
        <locationX>659</locationX>
        <locationY>404</locationY>
        <assignmentItems>
            <assignToReference>QuestionToBeMade_1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuestionToBeMade</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Last_Question</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Last_Question</name>
        <label>Is Last Question</label>
        <locationX>556</locationX>
        <locationY>232</locationY>
        <defaultConnector>
            <targetReference>Questions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Last_Question</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Questions</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AnswerChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CorrectAnswer__c</picklistField>
        <picklistObject>Questions__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Questions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Questions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Questions</name>
        <label>Create Questions</label>
        <locationX>308</locationX>
        <locationY>227</locationY>
        <inputReference>QuestionToBeMade_1</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Quiz</name>
        <label>Create Quiz</label>
        <locationX>514</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Questions</targetReference>
        </connector>
        <inputReference>QuizToBeMade</inputReference>
    </recordCreates>
    <screens>
        <name>Questions</name>
        <label>Questions</label>
        <locationX>675</locationX>
        <locationY>63</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Question</targetReference>
        </connector>
        <fields>
            <name>Question</name>
            <dataType>String</dataType>
            <fieldText>Question</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>A</name>
            <dataType>String</dataType>
            <fieldText>A.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>B</name>
            <dataType>String</dataType>
            <fieldText>B.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>C</name>
            <dataType>String</dataType>
            <fieldText>C.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>D</name>
            <dataType>String</dataType>
            <fieldText>D.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Pick_Correct_Answer</name>
            <choiceReferences>AnswerChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Pick Correct Answer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Last_Question</name>
            <dataType>Boolean</dataType>
            <fieldText>Last Question</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Quiz_Creator</name>
        <label>Quiz Creator</label>
        <locationX>165</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Quiz_Values</targetReference>
        </connector>
        <fields>
            <name>Name_of_quiz</name>
            <dataType>String</dataType>
            <fieldText>Name of quiz</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Quiz_Creator</startElementReference>
    <status>Draft</status>
    <variables>
        <name>Collection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Questions__c</objectType>
    </variables>
    <variables>
        <name>QuestionToBeMade</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Questions__c</objectType>
    </variables>
    <variables>
        <name>QuestionToBeMade_1</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Questions__c</objectType>
    </variables>
    <variables>
        <name>QuizToBeMade</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quiz__c</objectType>
    </variables>
</Flow>
